nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #020000;
}

nav ul li {
    float: center
;
}

nav ul li a {
    display: block;
    color: rgb(252, 252, 252);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

